.wrapper {
				width: 960px;
				margin: 0px auto;
				background-image: url("/img/bg-triangle.png");
				background-repeat: no-repeat;
				background-position: 0px 0px;
				text-align: left;
				}
.testi {

		color: black;
}
				
body {
				display: block;
				color: #ebebeb;
 			    background-image: url('/img/bg.png');
				font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
			    font-size: 15px;
				margin: 0px;
				}

a{
	text-decoration: none;
		color: #005aff;
}
#profdiv {
	margin-top: 10px;
	overflow:inherit;
}

#schooldiv {
	margin-top: 10px;
	overflow:inherit;
}

#favdiv {
	margin-top: 10px;
	overflow:inherit;
}

#condiv {
	margin-top: 10px;
	overflow:inherit;
}
#picture img {
	width: 150px;
    height: 150px;
    margin-left : 28px;
	margin-top: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border-top: 1px solid #111;
    border-bottom: 1px solid #fff;
    background: #fff;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}


li {
list-style-type: none;

}

ul
{
list-style-type: none;
padding: 10px;
margin-left: 10px;
text-align: left;
}

blockquote
{
	color: black;
	margin: 10px;
	padding: 10px;
	border-left: thick solid #ff0000;

}

p{
	color: black;
	margin: 10px;
	padding: 10px;

}
.intro{
	text-align: center;
	color: #262525;
	margin-top: 50px;
}

#place{
			color: #262525;
			}
		
.myul{
	margin: 10px;
	padding: 10px;
}

.myparagraph{
	margin: 10px;
	padding: 10px;
}
.mylinks{
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.letter{
	color: black;
}
		
#information {
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		color: #565353;	
		-moz-box-shadow:    inset 0 0 5px #272626;
		-webkit-box-shadow: inset 0 0 5px #272626;
		box-shadow:         inset 0 0 5px #272626;
	}

#social {
		margin-top: 10px;
		color: #565353;	
		-moz-box-shadow:    inset 0 0 5px #272626;
		-webkit-box-shadow: inset 0 0 5px #272626;
		box-shadow:         inset 0 0 5px #272626;
	}
	
#nav {
	margin-top: 50px;
	background-color: #cecece;
	border: 2px solid #b6b6b6;
}

#name {
	color: #005aff;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #444444;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
  color: #ffffff;
  background-color: #ad1d28;
  border-color: #ad1d28;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #81161e;
  border-color: #79141c;
  text-decoration: none;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-info {
  color: #ffffff;
  background-color: #4d3a7d;
  border-color: #4d3a7d;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #382a5a;
  border-color: #332753;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #4d3a7d;
  border-color: #4d3a7d;
}
.btn-info .badge {
  color: #4d3a7d;
  background-color: #ffffff;
}

textarea {
    resize: none;
}

