<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
	<meta charset="utf-8">
		<title>Mark Kelvin Mojagan :D</title>
<script language="javascript" type="text/javascript" src="/js/jquery-1.11.1.js"></script>
<script language="javascript" type="text/javascript" src="/js/navigation.js"></script>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/960_12_col.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="wrapper">
		<div class="container_12">
		
		<div class="grid_3" id="nav">

			<div id="picture">
			<img src="/img/myimage.png"/>
			</div>
				<ul>
					<li id="name">
					<b>Mark Kelvin S. Mojagan</b>
					</li>
					<br>
					<li id="place"><b>"Life isn't about finding yourself, it's about creating yourself."<b></li>
				</ul>
				
		
					<ul>
						<li>
					<div id="profdiv"><a id="profile" href="#">About me</a></div>
						</li>
						<li>
					<div id="schooldiv"><a id="school" href="#">Work/School</a></div>
						</li>
						<li>
						<li>
					<div id="condiv"><a id="contact" href="#">Contact Detail</a></div>
						</li>
					</ul>
		</div>
		
		
		
		<div class="grid_8" id="pfeatures">
		<h2 class="intro">About Me</h2>
		<div id="information" >
		<p class="myparagraph">Yow :D I am a 5th year student of Bachelor of Science in Computer Engineering. I'm a result oriented person and I always like to challenge myself to improve at everything I do. I have the ability to confederate different kinds of people. I am fun to be with and I can tell you many jokes. And someday I want to become a professional software engineer.
		</p>
		
		</div>
		</div>
		
		<div class="grid_8" id="sfeatures">
		<h2 class="intro">Work/School</h2>
		<div id="information" >
		<ul class="myul">
			<li>Study at <b>Polytechnic University Of The Philippines</b></li><br>
			<li>Former OJT (On the Job Training) at <b>Integrated Computer Systems, Inc.</b></li><br>
			<li>Works at <b>KForce Global Solutions, Inc.</b></li>
		</ul>
		
		</div>
		</div>
		
		
		<div class="grid_8" id="cfeatures">
		<h2 class="intro">Contact Info:</h2>
		<div id="information" >
		<ul class="myul">
			<li>Primary Mobile: <em>09262306954</em></li><br>
			<li>Telephone Number: <em>044-815-3107</em></li><br>
			<li>Email Address: <em>mmojagan@gmail.com</em></li>
		</ul>
		
		</div>
		</div>

		<div class="grid_8">
		<h2 class="intro">Social Links</h2>
		<div id="social" >
		<p class="mylinks">
			<a href="https://www.facebook.com/ToLsKie23" target="_blank"><img src="/img/fb.png" width="50px" height="50px"></a>
			<a href="https://github.com/mmojagan" target="_blank"><img src="/img/gh.png" width="50px" height="50px"></a>
			<a href="http://www.codecademy.com/mmojagan" target="_blank"><img src="/img/cc.png" width="50px" height="50px"></a>
			<a href="http://www.quora.com/Mark-Kelvin-Mojagan" target="_blank"><img src="/img/q	.png" width="50px" height="50px"></a>
		</p>
		
		</div>
		</div>

<div class="clear"></div>

<div class="grid_12">
    <div id="information">

    {% for greeting in greetings %}
      {% if greeting.author %}
        <p><b>{{ greeting.author.nickname() }}</b> wrote:</p>
      {% else %}
       <p>An anonymous person wrote:</p>
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}
</div>
</div>

<div class="grid_6">
    <form action="/sign1?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook" class="btn btn-primary"></div>
    </form><br>
<a class="nav navbar-nav" href="{{ url|safe }}">{{ url_linktext }}</a>

<hr>


</div>

	
		</div>
		</div>


	
	</body>
</html>
{% endautoescape %}